[Desktop Entry]
Version=0.9.4
Name=Siril
Name[ar_DZ]=Siril
Name[en_CA]=Siril
Name[en_GB]=Siril
Name[fr]=Siril
Name[nl]=Siril
Name[zh_CN]=Siril
Comment=Astronomical image (pre-)processing program
Comment[ar_DZ]=برنامج معالجة الصور الفلكية
Comment[de]=Astronomisches Bild(vor-)verarbeitungsprogramm
Comment[en_CA]=Astronomical image (pre-)processing program
Comment[en_GB]=Astronomical image (pre-)processing program
Comment[fr]=Programme de (pré-)traitement des images astronomiques
Comment[tl_PH]=Programa sa pag(pre-)proseso ng larawang astronomikal
Comment[pt_PT]=Programa de tratamento de imagens astronomicas
Comment[nl]=Programma voor (voor)behandeling van astronomische beelden
Comment[zh_CN]=天文图像（预）处理软件
Keywords=astronomy;stacking;registration;
Keywords[ar_DZ]=فلك; تراص; إنحياز;
Keywords[de]=astronomie;stacken;registrierung;
Keywords[en_CA]=astronomy;stacking;registration;
Keywords[en_GB]=astronomy;stacking;registration;
Keywords[fr]=astronomie;empilement;alignement;
Keywords[[tl_PH]=astronomiya;stacking;rehistrasyon;
Keywords[nl]=astronomie;stacking;afstemming;
Keywords[pt_PT]=astronomia;empilhamento;alinhamento;
Keywords[zh_CN]=天文;叠加;对齐;
Exec=siril %F
Icon=siril
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;Astronomy;
MimeType=image/fits;image/bmp;image/pic;image/jpeg;image/png;image/tiff;image/x-portable-pixmap;video/ser;