[Desktop Entry]
Version=0.9.2
Name=Siril
Name[fr]=Siril
Comment=Astronomical image (pre-)processing program
Comment[fr]=Programme de (pré-)traitement des images astronomiques
Keywords=astronomy;stacking;registration;
Keywords[fr]=astronomie;empilement;alignement;
Exec=siril %F
Icon=siril
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;Astronomy;
MimeType=image/fits;image/bmp;image/pic;image/jpeg;image/png;image/tiff;image/x-portable-pixmap;video/ser;
